.file {
  display: table;
}

.utterance, .window, .transition, .battle {
  display: table-row;
}

.utterance-jp, .utterance-en, .window-jp, .window-en, .transition-jp, .transition-en,
.battle-jp, .battle-en {
  display: table-cell;
}

.utterance .content {
  padding-left: 10px;
}

.speaker {
  color: blue;
}

.window {
  color: rgb(100,100,100);
  text-align: center;
}
.window-jp, .window-en {
  padding: 5px 0;
}

.battle {
  text-align: center;
  color: darkred;
}


.subchapter {
  margin-left: 20px;
  display: inline;
}

.chapter {
  padding: 5px
}
.main-story, .side-story, .other-stories {
  padding: 30px 0px 0px 0px;
}

.chapter-subtitle {
  padding-left: 10px
}

.in-progress::after {
  content: " (translation in progress)";
  font-weight: bold;
  color: grey;
}
.translated::after {
  content: " (translated)";
  font-weight: bold;
}
.no-story::after {
  content: " (no story)";
  font-weight: bold;
  color: grey;
}
.main-story::before {
  content: "Main Story";
  font-size: 150%;
  font-style: italic;
}
.side-story::before {
  content: "Side Story";
  font-size: 150%;
  font-style: italic;
}
.other-stories::before {
  content: "Other Stories";
  font-size: 150%;
  font-style: italic;
}
